<?xml version="1.0" encoding="UTF-8"?>
<suite name="Automation Suite" verbose="1">
    <test name="Login Tests">
        <classes>
            <class name="com.example.tests.LoginTest"/>
        </classes>
    </test>
    
    <test name="Signup Tests">
        <classes>
            <class name="com.example.tests.SignupTest"/>
        </classes>
    </test>
    
    <test name="Add Contact Tests">
        <classes>
            <class name="com.example.tests.AddContactTest"/>
        </classes>
    </test>
    
    <test name="Update Contact Tests">
        <classes>
            <class name="com.example.tests.UpdateContactTest"/>
        </classes>
    </test>
    
    <test name="Delete Contact Tests">
        <classes>
            <class name="com.example.tests.DeleteContactTest"/>
        </classes>
    </test>
</suite>